<h2>Here are your trade requests</h2>
<h3>Pending requests: </h3>

<ul>
  {{#each trades}}
    {{#pending this.status}}
      <li class="request-list">
        <div class="request {{this.status}}">
          <div class="req-element">
            <h4>Requested:</h4>
            <img src="{{this.recordRequested.coverImageURL}}" alt="">
          </div>
          <div class="req-element">
            <h4>Offered:</h4>
            <img src="{{this.recordOffered.coverImageURL}}" alt="">
          </div>
          <div class="req-element">
            <h4>Action:</h4>
            <form action="/trades/{{this.id}}/accept" method="POST">
                <button class="button accept">Accept</button>
              </form>
              <form action="/trades/{{this.id}}/reject" method="POST">
                <button class="button reject">Reject</button>
              </form>
          </div>
        </div>
      </li>
    {{/pending}}
  {{/each }}
</ul>
<h3>Approved requests: </h3>
<ul>
  {{#each trades}}
    {{#approved this.status}}
      <li class="request-list">
        <div class="request {{this.status}}">
          <div class="req-element">
            <h4>Requested:</h4>
            <img src="{{this.recordRequested.coverImageURL}}" alt="">
          </div>
          <div class="req-element">
            <h4>Offered:</h4>
            <img src="{{this.recordOffered.coverImageURL}}" alt="">
          </div>
          <div class="req-element">
            {{#approved this.status}}
              <div class="req-element">
                <h4>Status:</h4>
                <img src="/images/approved-icon.png" alt="">
              </div>
            {{/approved}}
          </div>
        </div>
      </li>
    {{/approved}}
  {{/each }}
</ul>
<h3>Rejected requests: </h3>
<ul>
  {{#each trades}}
    {{#rejected this.status}}
      <li class="request-list">
        <div class="request {{this.status}}">
          <div class="req-element">
            <img src="{{this.recordRequested.coverImageURL}}" alt="">
          </div>
          <div class="req-element">
            <img src="{{this.recordOffered.coverImageURL}}" alt="">
          </div>
          <div class="req-element">
            {{#rejected this.status}}
              <div class="req-element">
                <h4>Status:</h4>
                <img src="/images/rejected-icon.png" alt="">
              </div>
            {{/rejected}}
          </div>
        </div>
      </li>
    {{/rejected}}
  {{/each }}
</ul>
<h3>No longer available records: </h3>
<ul>
  {{#each trades}}
    {{#notAvailable this.status}}
      <li class="request-list">
        <div class="request {{this.status}}">
          <div class="req-element">
            <img src="{{this.recordRequested.coverImageURL}}" alt="">
          </div>
          <div class="req-element">
            <img src="{{this.recordOffered.coverImageURL}}" alt="">
          </div>
        </div>
      </li>
    {{/notAvailable}}
  {{/each }}
</ul>