<h1>Here are your trades requests</h1>
  <h3>Incoming trades: </h3>
{{#each trades}}
  <div class="record {{this.status}}">
    <p>{{this.status}}</p>
    <img src="{{this.recordRequested.coverImageURL}}" alt="">
    <img src="{{this.recordOffered.coverImageURL}}" alt="">
    <form action="/trades/{{this.id}}/accept" method="POST">
      <button>Accept</button>
    </form>
     <form action="/trades/{{this.id}}/reject" method="POST">
      <button>Reject</button>
    </form>
  </div>
{{/each }}