<section class="landing">
  <div>
<h1>Welcome to trade-A-record </h1>
<p>At trade-A-record we love vinyl, and we want to help our users to realize their dream record collection. trade-A-record is the perfect platform for you to trade records from your collection with other users. It provides transparency and is easy to use.</p>
<p>Start trading today, and click away to get the record you always wanted, no matter how far away it is...</p>
<a class="button" href="/auth/signup">Sign-up Now</a>
  </div>
</section>
<section>
<h2>All records</h2>
<hr>
<ul class="record-list">
    {{#each records}}
    <li class="record">
      <a href="/records/{{this.id}}">
        <div>
          <img src="{{this.coverImageURL}}" alt="">
        </div>
        <div class="record-info">
          <h3>{{this.name}}</h3>
          <h4>{{this.artist}}</h4>
          <p>{{this.condition}}, {{this.releaseYear}}</p>
        </div>
      </a>  
    </li>
    {{/each}}
  </ul>
</section>