

    <div class="record">
        <h1>{{record.name}}</h1>
        <div>
          <img src="{{record.coverImageURL}}" alt="">
        </div>
        <div>
          <h3>{{record.artist}}</h3>
          <h3>{{record.description}}</h3>
          <h3>{{record.genre}}</h3>
          <h3>{{record.releaseYear}}</h3>
          <h3>{{record.condition}}</h3>
          <h3>Owned by: {{record.owner}}</h3>

        </div>
      {{!-- {{#ifCond records.owner currentUser._id}}
        hello is equal to hello
      {{else}} --}}
        <div>
        <a class="button" href="/records/{{record.id}}/request" class="button">Request</a>
        {{!-- <form class="delete" action="/projects/{{record.id}}/delete" method="POST">
          <button class="button danger">Delete</button>
        </form> --}}
        </div>
      {{!-- {{/ifCond}} --}}
    </div>
  </ul>


  