

<section class="detail">
    <h1>{{record.name}}</h1>
    <h4><strong>People interested in this record :</strong>  {{ongoingRequests}} ♥ </h4>
    <div>
      <img src="{{record.coverImageURL}}" alt="">
    </div>
    <div>
      <h3>Artist:</h3>
        <p>{{record.artist}}</p>
      <h3>Description:</h3>
        <p>{{record.description}}</p>
      <h3>Genre:</h3>
        <p>{{record.genre}}</p>
      <h3>Release Year:</h3>
        <p>{{record.releaseYear}}</p>
      <h3>Condition:</h3>
        <p>{{record.condition}}</p>
      <h3>Owned by:</h3>
        <p>{{record.owner.username}}</p>
    </div>
    {{#if isOwner}}
      <div>
        <form class="delete" action="/records/{{record.id}}/delete" method="POST">
          <button class="button invert">Delete Record</button>
        </form>
      </div>
    {{/if}}
    {{#unless isOwner}}
      <div>
      <a class="button" href="/records/{{record.id}}/request" class="button">Request</a>
      </div>
    {{/unless }}

</section>