<div class="wrap">
   <div class="search">
      <input type="text" class="searchTerm" placeholder="What are you looking for?">
      <button type="submit" class="button searchButton">
        <i class="fa fa-search">url('../fonts/fontawesome-webfont.eot?#iefix&v=4.4.0')</i>
     </button>
   </div>
</div>

<h1>All records</h1>

<ul class="record-list">
    {{#each records}}
    <li class="record">
      <a href="/records/{{this.id}}">
        <div>
          <img src="{{this.coverImageURL}}" alt="">
        </div>
        <div class="record-info">
          <h3>{{this.name}}</h3>
          <h4>{{this.artist}}</h4>
          <p>{{this.condition}}, {{this.releaseYear}}</p>
        </div>
      </a>  
    </li>
    {{/each}}
  </ul>

  


  