<h2>You are requesting to trade {{requestedRecord.name}} by {{requestedRecord.artist}}</h2>
  <section>

    <div class="record">
        <div>
          <img src="{{requestedRecord.coverImageURL}}" alt="">
        </div>
    </div>

  <hr>
  <h2>Select a record you want to trade</h2>
  {{#unless myRecords.length}}
  <h4>Dude you have no records to trade <a class"button" href="/profile">create one</a> first!</h4>
  {{/unless}}
  <ul class="record-list">
    {{#each myRecords }}
    <li class="record">
        <div>
          <img src="{{this.coverImageURL}}" alt="">
        </div>
        <div>
          <h2>{{this.name}}</h2>
          <h3>{{this.artist}}</h3>
        </div>

      <div>
      {{!-- <a class="button" href="/records/{{this.id}}" class="button">More information</a> --}}
      <form action="/records/{{../requestedRecord.id}}/{{this.id}}/request" method="POST">
        <button>Offer</button>
      </form>
      </div>
    </li>
    {{/each}}
  </ul>

  </section>

