<h1>This is your trade</h1>

<ul class="record-list">
    {{#each trade}}
    <li class="record">
        <div>
          <img src="{{this.recordRequested.coverImageURL}}" alt="">
        </div>
    </li>
    {{/each}}
  </ul>
  <hr>
  <ul class="record-list">
    {{#each trade}}
    <li class="record">
        <div>
          <img src="{{this.recordOffered.coverImageURL}}" alt="">
        </div>
        <div>
          <h2>{{this.recordOffered.recordName}}</h2>
          <h3>{{this.recordOffered.artist}}</h3>
        </div>

      <div>
      <a class="button" href="/records/{{this.id}}" class="button">More information</a>
      </div>
    </li>
    {{/each}}
  </ul>

