<h1>Make your trade</h1>

<ul class="record-list">
    {{#each records}}
    <li class="record">
        <div>
          <img src="{{this.coverImageURL}}" alt="">
        </div>
    </li>
    {{/each}}
  </ul>
  <hr>
  <h1>{{example}}</h1>

  {{!-- <ul class="record-list">
    {{#each records}}
    <li class="record">
        <div>
          <img src="{{this.coverImageURL}}" alt="">
        </div>
        <div>
          <h2>{{this.recordName}}</h2>
          <h3>{{this.artist}}</h3>
        </div>

      <div>
      <a class="button" href="/records/{{this.id}}" class="button">More information</a>
      </div>
    </li>
    {{/each}}
  </ul> --}}

