<h1>All records</h1>

<ul class="record-list">
    {{#each records}}
    <li class="record">
        <div>
          <img src="{{this.coverImageURL}}" alt="">
        </div>
        <div>
          <h2>{{this.name}}</h2>
          <h3>{{this.artist}}</h3>
        </div>

      <div>
        <a class="button" href="/records/{{this.id}}" class="button">More information</a>
      {{!-- <form class="delete" action="/projects/{{this.id}}/delete" method="POST">
        <button class="button danger">Delete</button>
      </form> --}}
      </div>
    </li>
    {{/each}}
  </ul>


  