 <section class="form">
  <h2>Here's the right spot to upload your next record</h2>

  <form action="/records/create" method="post">

    <div class="field">
      <label>Record Name</label>
      <input type="text" name="name" value="{{fields.name}}">
    </div>

    <div class="field">
      <label>Artist</label>
      <input type="text" name="artist" value="{{fields.artist}}">
    </div>

    <div class="field">
      <label>Add record cover URL here</label>
      <input type="text" name="coverImageURL" value="{{fields.coverImageURL}}">
    </div>

    <div class="field">
      <label>Add a short description</label>
       <textarea name="description" rows="5" cols="30" placeholder="Your description (max. 500 characters)" maxlength="500" value="{{fields.description}}"></textarea>
    </div>

    <div class="field">
      <label>Genre</label>
       <select name="genre">
        <option value="Pop">Pop</option>
        <option value="Country">Country</option>
        <option value="Rock">Rock</option>
        <option value="Metal">Metal</option>
        <option value="Hip-hop">Hip-hop</option>
        <option value="Punk">Punk</option>
        <option value="Alternative">Alternative</option>
      </select>
    </div>

    <div class="field">
      <label>Is your vinyl in top condition?</label>
      <select name="condition">
        <option value="As new">As new</option>
        <option value="Good">Good</option>
        <option value="Used">Used</option>
        <option value="Scratched">Scratched</option>
      </select>
    </div>

    <div class="field">
      <label>Release year?</label>
      <input type="year" name="releaseYear" value="{{fields.releaseYear}}">
    </div>


    <div class="field">
      <button class="button">Create Record</button>
      {{#if message}}
      <p class="validation">{{message}}</p>
      {{/if}}
    </div>

  </form>
</section>
