<h2>Here are the requests you've made</h2>
<h3>Pending requests: </h3>

<ul>
  {{#each trades}}
    {{#pending this.status}}
      <li class="request-list">
        <div class="request {{this.status}}">
          <div class="req-element">
            <img src="{{this.recordRequested.coverImageURL}}" alt="">
          </div>
          <div class="req-element">
            <img src="{{this.recordOffered.coverImageURL}}" alt="">
          </div>
        </div>
      </li>
    {{/pending}}
  {{/each }}
</ul>
<h3>Approved requests: </h3>
<ul>
  {{#each trades}}
    {{#approved this.status}}
      <li class="request-list">
        <div class="request {{this.status}}">
          <div class="req-element">
            <img src="{{this.recordRequested.coverImageURL}}" alt="">
          </div>
          <div class="req-element">
            <img src="{{this.recordOffered.coverImageURL}}" alt="">
          </div>
        </div>
      </li>
    {{/approved}}
  {{/each }}
</ul>
<h3>Rejected requests: </h3>
<ul>
  {{#each trades}}
    {{#rejected this.status}}
      <li class="request-list">
        <div class="request {{this.status}}">
          <div class="req-element">
            <img src="{{this.recordRequested.coverImageURL}}" alt="">
          </div>
          <div class="req-element">
            <img src="{{this.recordOffered.coverImageURL}}" alt="">
          </div>
        </div>
      </li>
    {{/rejected}}
  {{/each }}
</ul>
