<h2>Here are the requests you've made</h2>
<h3>Pending requests: </h3>

<ul>
  {{#unless trades.length}}
  <div class="empty-requests">
    <h3>Dude you don't have any pending requests, start trading now!</h3>
  </div>
  {{/unless}}
  {{#each trades}}
    {{#pending this.status}}
      <li class="request-list">
        <div class="request {{this.status}}">
          <div class="req-element">
            <img src="{{this.recordRequested.coverImageURL}}" alt="">
          </div>
          <div class="req-element">
            <img src="{{this.recordOffered.coverImageURL}}" alt="">
          </div>
        </div>
      </li>
    {{/pending}}
  {{/each }}
</ul>
<h3>Approved requests: </h3>
<ul>
  {{#unless trades.length}}
  <div class="empty-requests">
    <h3>Maaaan, none of your requests have been approved yet. Start another one!</h3>
  </div>
  {{/unless}}
  {{#each trades}}
    {{#approved this.status}}
      <li class="request-list">
        <div class="request {{this.status}}">
          <div class="req-element">
            <img src="{{this.recordRequested.coverImageURL}}" alt="">
          </div>
          <div class="req-element">
            <img src="{{this.recordOffered.coverImageURL}}" alt="">
          </div>
        </div>
      </li>
    {{/approved}}
  {{/each }}
</ul>
<h3>Rejected requests: </h3>
<ul>
  {{#unless trades.length}}
  <div class="empty-requests">
    <h3>Sweet, none of your requests have been rejected. Keep going!</h3>
  </div>
  {{/unless}}
  {{#each trades}}
    {{#rejected this.status}}
      <li class="request-list">
        <div class="request {{this.status}}">
          <div class="req-element">
            <img src="{{this.recordRequested.coverImageURL}}" alt="">
          </div>
          <div class="req-element">
            <img src="{{this.recordOffered.coverImageURL}}" alt="">
          </div>
        </div>
      </li>
    {{/rejected}}
  {{/each }}
</ul>
<h3>No longer available records: </h3>
<ul>
  {{#each trades}}
    {{#notAvailable this.status}}
      <li class="request-list">
        <div class="request {{this.status}}">
          <div class="req-element">
            <img src="{{this.recordRequested.coverImageURL}}" alt="">
          </div>
          <div class="req-element">
            <img src="{{this.recordOffered.coverImageURL}}" alt="">
          </div>
        </div>
      </li>
    {{/notAvailable}}
  {{/each }}
</ul>